<h1>Customer Import</h1>

<p>An Excel file can be used to import records. The first row should be the column name. The collumns must be named exactly as follows, order is unimportant.</p>

<p>client_central_station_account_number, initial_contact_authorization_date, install_date,  status_note, cancel_date, region_name, first_name,  middle_initial,  last_name, sex, language,  address_1, address_2, city,  state, zip, BADD1, BADD2, BCITY, BST, BZIP,  phone, venue, isp_end_date,  dob, medicaid_number, diagnostics_code,  caseworker,  cw phone,  cw fax,  memo,  test_call_number,  temp,  system_type, transmitter_type,  transmitter_date,  battery_date,  lock_number, insurance_name</p>


<p>If <strong>first name, last name, and dob</strong> are supplied it will update the matching record instead of creating a new one.</p>

<%= form_for @customer_import do |f| %>
  <% if @customer_import.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_import.errors.count, "error") %> prohibited this import from completing:</h2>
      <ul>
      <% @customer_import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.file_field :file %>
  </div>
  <div class="buttons"><%= f.submit "Import" %></div>
<% end %>
