<h1>Customers</h1>
<!-- search form -->
<%= search_form_for @q do |f| %>
	<%= f.label :first_name_or_last_name_cont %>
	<%= f.search_field :first_name_or_last_name_cont %>
	<%= f.submit %>
<% end %>

<!-- search results -->
<ul>
	<% if @customers.present? %>
		<% @customers.each do |customer| %>
		<li><%= link_to [customer.first_name, customer.last_name].join(' '), customer%></li>
	<%end %>
</ul>
<!-- Failed search -->
<% else %>
	<p>There are no customers containing the term(s) <%= params[:search] %>.</p>
<% end %>


<!-- Add to the database -->
<%= link_to "Add New Customer", new_customer_path %>
