<!-- Display all customers -->
<h1>Customers</h1>
<!-- search form -->
<%= search_form_for @q do |f| %>
	<%= f.label :first_name_or_last_name_cont %>
	<%= f.search_field :first_name_or_last_name_cont %>
	<%= f.submit %>
<% end %>

<!-- search results -->
	
<% if @customers.present? %>
	<table>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= link_to [customer.first_name, customer.last_name].join(' '), customer%></td>
			</tr>
		<%end %>
	</table>


<!-- Failed search -->
<% else %>
	<p>There are no customers containing the term(s) <%= params[:search] %>.</p>
<% end %>

<br><br>

<!-- Add to the database -->
<div id = "footer"><%= link_to "Add New Customer", new_customer_path %></div>
