<!-- Display all customers -->
<h1>Customers</h1>


<!-- search form -->
<%= search_form_for @q do |f| %>
	<%= f.label :first_name_or_last_name_or_account_number_cont %>
	<%= f.search_field :first_name_or_last_name_or_client_central_station_account_number_cont %>
	<%= f.submit %>
<% end %>

<!-- search results -->
	
<% if @customers.present? %>
	<table>
		<tr>
			<td><%= sort_link(@q, :first_name, "Name") %></td>
			<td>City</td>
			<td>Region</td>
			<td>Caseworker</td>
			<td><%= sort_link(@q, :client_central_station_account_number, "Account Number") %></td>
			<td>System type</td>
			<td>Transmitter Type</td>
			<td>Billing Interval</td>
		</tr>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= link_to [customer.first_name, customer.last_name].join(' '), customer%></td>
				<td><%= (customer.addresses.first.city if customer.addresses.first) || "empty" %></td>
				<td><%= ((link_to customer.region.region_name, customer.region )if customer.region) || "empty" %></td>
				<td><%= ((link_to customer.caseworker.name, customer.caseworker) if customer.caseworker) || "empty" %></td>
				<td><%= customer.client_central_station_account_number || "empty" %></td>
				<td><%= ((link_to customer.system.system_type.system_type, customer.system.system_type) if customer.system )  || "empty" %></td>
				<td><%= ((link_to customer.system.transmitter_type.transmitter_type, customer.system.transmitter_type) if customer.system) || "empty" %></td>
				<td><%= ((link_to [customer.billing_interval.billing_interval_name, customer.billing_interval.interval_month].join(' '), billing_intervals_path) if customer.billing_interval) || "empty" %></td>

			</tr>
		<%end %>
	</table>


<!-- Failed search -->
<% else %>
	<p>There are no customers containing the term(s) <%= params[:search] %>.</p>
<% end %>

<br><br>

<!-- Add to the database -->
<div id = "footer">
	<%= link_to "Add New Customer", new_customer_path %>
</div>



<h2>Import Customers</h2>


<p><%= link_to "Import customers", new_customer_import_path %></p>
