<!-- Show details of particular customer -->
<%= link_to "Back to customers", customers_path%>
<br><br>

<!-- Outputs customer info -->
<% for attribute in @customer.attributes.keys %>
	<%unless @customer.attributes[attribute]%>
	<i><b>
	<%end%>
  <li><%= attribute.humanize %>: <%= @customer.attributes[attribute].to_s %>
  <%unless @customer.attributes[attribute]%>
	Missing</i></b>
	<%end%></li>
<% end %>
<br>

<!-- Dumps address info. Need to make nicer -->
<% @customer.addresses.each do |a| %>
	<%= a.attributes %>	<br>
<% end %>

<!-- Displays Missing address if none is set -->
<% unless @customer.addresses.first %>
	<i><b>Missing address</i></b>
<% end%>
<br><br>

<!-- Customer actions -->
<div id = "footer">
<%= link_to "Service check list", form_path(@customer.id)+"/service_check_list"%>
<%= link_to "Edit this customer", edit_customer_path %>
<%= link_to "Delete this customer", customer_destroy_path, data: {confirm: "Are you sure?"} %>
<%= link_to "Add a new address", new_customer_address_path(@customer) %>
</div>