<!-- Show details of particular customer -->


<li>Customer name: <%= [@customer.first_name, @customer.middle_initial, @customer.last_name].join(' ') %></li>
<li>Sex: <%= @customer.sex %></li>
<li>Dob: <%= @customer.dob.to_formatted_s(:long_ordinal)%></li>
<li>Language: <%= @customer.language %></li>
<li>Memo: <%= @customer.memo %></li>
<li>Status: <%= @customer.status %></li>
<li>Status note: <%= @customer.status_note %></li>
<li>Account #: <%= @customer.client_central_station_account_number %></li>
<li>Install date: <%= @customer.install_date.to_formatted_s(:long_ordinal) if @customer.install_date %></li>
<li>Cancel date: <%= @customer.cancel_date.to_formatted_s(:long_ordinal) if @customer.cancel_date %></li>
<li>Initial contact authorization date: <%= @customer.initial_contact_authorization_date.to_formatted_s(:long_ordinal) %></li>
<li>Region: <%= @customer.region.region_name if @customer.region %></li>
<li>Billing interval: <%= [@customer.billing_interval.billing_interval_name, @customer.billing_interval.interval_month].join(', ') if @customer.billing_interval %></li>



<!-- Dumps address info. Need to make nicer -->
<% @customer.addresses.each do |a| %>
Address
	<%= a.attributes %>	<br>
<% end %>

<!-- Displays Missing address if none is set -->
<% unless @customer.addresses.first %>
	<i><b>Missing address</i></b>
<% end%>
<br><br>
<% if @customer.caseworker %>
Caseworker

<%= link_to @customer.caseworker.name, @customer.caseworker %>
<%= @customer.caseworker.attributes %>
<% end %>
<br><br>

<% if @customer.insurance %>
insurance

<%= link_to @customer.insurance.insurance_name, customer_insurance_path(@customer.id, @customer.insurance.id)%>
<%= @customer.insurance.attributes %>
<% end %>
<br><br>

<!-- Customer actions -->
<div id = "footer">
<%= link_to "Service check list", form_path(@customer.id)+"/service_check_list"%>
<%= link_to "Create Account Shell (Spanish)", form_path(@customer.id)+"/account_shell_spanish"%>

<%= link_to "Create Account Shell", form_path(@customer.id)+"/account_shell"%>
<%= link_to "Update of Information Form", form_path(@customer.id)+"/update_info"%>
<br>

<%= link_to "Edit this customer", edit_customer_path %>
<%= link_to "Delete this customer", @customer, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "Add a new address", new_customer_address_path(@customer) %>
<% if @customer.caseworker %>
	<%= link_to "Change caseworker", select_caseworker_path(@customer) %>
<% else %>
	<%= link_to "Add a caseworker", select_caseworker_path(@customer) %>
<% end %>
<% if @customer.insurance %>
	<%= link_to "Change insurance", edit_customer_insurance_path(@customer.id, @customer.insurance.id) %>
<% else %>
	<%= link_to "Add insurance", new_customer_insurance_path(@customer) %>
<% end %>
</div>