<h1>Show page</h1>
<% for attribute in @customer.attributes.keys %>
	<%unless @customer.attributes[attribute]%>
	<i><b>
	<%end%>
  <li><%= attribute.humanize %>: <%= @customer.attributes[attribute].to_s %>
  <%unless @customer.attributes[attribute]%>
	Missing</i></b>
	<%end%></li>
<% end %>
<br>
<% if @customer.addresses.first %>
<%= @customer.addresses.first.attributes %>
<% else %>
<i><b>Missing address</i></b>
<% end%>
<br><br>
<%= link_to "Service check list", page_path(@customer.id)+"/service_check_list"%>
<%= link_to "Edit this customer", edit_customer_path %>
<%= link_to "Delete this customer", customer_destroy_path, data: {confirm: "Are you sure?"} %>