<% customer_name = [@customer.first_name, @customer.last_name].join(' ') %>
<h2><center><p>RESPONSE CENTER USA</p>
<p>CREATE AN ACCOUNT SHELL</p></center></h2>
<pre><div id = "pre">
DEALER NAME:		LIGHTHOUSE SYSTEMS

DEALER PHONE:		(956)631-7016

SUBMITTED BY:		PAT SMITH

DATE:		<textarea></textarea>


ACCT TO BE CREATED:		<%= @customer.client_central_station_account_number %>

CUSTOMER NAME: 		<%= customer_name  %>

ADDRESS:	<%=[@customer.addresses.first.address_1, @customer.addresses.first.address_2].join(' ') %>								<%=[@customer.addresses.second.address_1, @customer.addresses.second.address_2].join(' ') if @customer.addresses.second %>
			<%= [@customer.addresses.first.city, @customer.addresses.first.state, @customer.addresses.first.zip].join(', ') %>					<%= [@customer.addresses.second.city, @customer.addresses.second.state, @customer.addresses.second.zip].join(', ') if @customer.addresses.second %>

LOCATION PHONE: <%=@customer.addresses.first.phone %>

ANTICIPATED HOOK UP DATE:


</div></pre>

<pre style="page-break-after:always;"><center>
Lighthouse Systems
3820 S Jackson Rd Unit A
Pharr, TX 78577
956-631-7016
</center>
</pre>

<!-- pagebreak INSTALL CHECK LIST -->

<h2><center>INSTALL CHECK LIST</center></h2>

<pre style="page-break-after:always;"><div id= "pre">
CUSTOMER NAME: <%= customer_name %>

CUSTOMER DIALER #: <%= @customer.client_central_station_account_number %>

START TIME/ DATE _______________________________________________________

END TIME/ DATE _________________________________________________________

Transformer screwed in _____ 	Transmitter tested to furthest limit ____

Phone jack secure _____ 				Customer phone tested _____

System tested to CS _____ 			Business card & magnet left _____

Paperwork Signed _____

EXTRA PARTS USED: _______________________________________________
______________________________________________________________________
______________________________________________________________________

SPECIAL NOTES: ___________________________________________________
______________________________________________________________________

Payment Calc:		Install 				_________
				Mileage ________x.30 	_________
				Parts 				_________
				Total				_________


Tech Signature______________________________________ Date ____________
</div></pre>

<!-- pagebreak SUBSCRIBER SERVICE AGREEMENT -->
<h4 style="line-height:1"><center><p>Lighthouse Systems, LLC</p>
			<p>SUBSCRIBER SERVICE AGREEMENT</p></center></h4>
<div style="font-size:small; line-height:1;">
<p>
	I, <%= customer_name %>, agree to the following terms:
</p>
<p><b>EQUIPMENT OWNERSHIP: <u>THE EQUIPMENT IS THE PROPERTY OF LIGHTHOUSE SYSTEMS, LLC. FAILURE TO RETURN THE EQUIPMENT MAY RESULT IN YOU OR YOUR BENEFICIARIES BEING RESPONSIBLE FOR CHARGES UP TO $500.</u> </b>  In the event I am no longer eligible for or in need of emergency response services (ERS), I agree to return the equipment to representative(s) of Lighthouse Systems, LLC of your HMO.  In the event of my death or incapacity, I authorize other persons acting in my behalf to relinquish the equipment to said representative(s). </p>
<p><b>STANDARD EQUIPMENT:</b> The ERS equipment consists of (1) console, (1) remote transmitter, (1) or more adapter jacks used to attach the console to the telephone jack, and any cords or multiple plugs used to provide electricity for the console.</p>
<p><b>FALSE ALARMS/ACCIDENTAL ALARMS:</b> I understand that Lighthouse Systems, LLC may remove the equipment from my home if I activate either (20) false alarms of any kind within a 6 months period or (4) false alarms which result in a response by paramedics, police or other emergency personnel.  I will use every precaution to avoid accidental alarms.  I will not willfully cause false alarms.</p>
<p><b>EQUIPMENT REMOVAL: </b>I understand that I will be notified of false alarm problems so that the problem can be resolved.  I will be notified before the equipment is removed.  Telephone equipment or electrical malfunctions are not considered to be false alarms. </p>
<p><b>OPERATING INSTRUCTIONS: </b> The operation and use of the transmitter and the console placed in my home have been explained to me.  I have been given a copy of the printed instructions on the use of the equipment and the telephone number(s) I may call if the equipment develops a problem.  Never disconnect the unit from the telephone line or the wall plug.</p>
<p><b>MONTHLY SYSTEM CHECKS:</b> I understand that it is my responsibility to participate in monthly systems checks by pressing my transmitter.  This will ensure that the equipment is in proper working condition.  Please test your system between the 1st and 15th of every month.  If I do not test, Lighthouse Systems, LLC will call a minimum of (3) times each month to prompt me to test.</p>
<p><b>SUBSCRIBER'S DUTIES: I understand that it is my responsibility to keep curent the responder information and client information provided to Ligthouse Systems, LLC. </b>I must also be willing to allow the responder to make forces entry into my home if he/she is asked to respond to an alarm call and has no other means of entering the home.  I am aware that I am responsible for any damage caused to my home due to forced entry. </p>
<p><b>COMPLAINT PROCEDURES: </b> I am aware that if I have any complaints, I should contact Lighthouse Systems, LLC at 956-631-7016 or 1-866-232-0415.  </p>

<pre><div id = "pre" style="font-size:small;">

_______________________________________  _______________________________________
Client Signature 						   Lighthouse Systems Rep

_______________________________________
Date</div></pre>
</div>

<pre style="page-break-after:always; font-size:smaller;"><center>Lighthouse Systems
3820 S Jackson Rd Unit A
Pharr, TX 78577
956-631-7016
</center>
</pre>

<!-- pagebreak SUBSCRIBER SERVICE AGREEMENT customer copy-->


<h4 style="line-height:1"><center><p>Lighthouse Systems, LLC</p>
			<p>SUBSCRIBER SERVICE AGREEMENT</p></center></h4>
<div style="font-size:small; line-height:1;">
<p>
	I, <%= customer_name %>, agree to the following terms:
</p>
<p><b>EQUIPMENT OWNERSHIP: <u>THE EQUIPMENT IS THE PROPERTY OF LIGHTHOUSE SYSTEMS, LLC. FAILURE TO RETURN THE EQUIPMENT MAY RESULT IN YOU OR YOUR BENEFICIARIES BEING RESPONSIBLE FOR CHARGES UP TO $500.</u> </b>  In the event I am no longer eligible for or in need of emergency response services (ERS), I agree to return the equipment to representative(s) of Lighthouse Systems, LLC of your HMO.  In the event of my death or incapacity, I authorize other persons acting in my behalf to relinquish the equipment to said representative(s). </p>
<p><b>STANDARD EQUIPMENT:</b> The ERS equipment consists of (1) console, (1) remote transmitter, (1) or more adapter jacks used to attach the console to the telephone jack, and any cords or multiple plugs used to provide electricity for the console.</p>
<p><b>FALSE ALARMS/ACCIDENTAL ALARMS:</b> I understand that Lighthouse Systems, LLC may remove the equipment from my home if I activate either (20) false alarms of any kind within a 6 months period or (4) false alarms which result in a response by paramedics, police or other emergency personnel.  I will use every precaution to avoid accidental alarms.  I will not willfully cause false alarms.</p>
<p><b>EQUIPMENT REMOVAL: </b>I understand that I will be notified of false alarm problems so that the problem can be resolved.  I will be notified before the equipment is removed.  Telephone equipment or electrical malfunctions are not considered to be false alarms. </p>
<p><b>OPERATING INSTRUCTIONS: </b> The operation and use of the transmitter and the console placed in my home have been explained to me.  I have been given a copy of the printed instructions on the use of the equipment and the telephone number(s) I may call if the equipment develops a problem.  Never disconnect the unit from the telephone line or the wall plug.</p>
<p><b>MONTHLY SYSTEM CHECKS:</b> I understand that it is my responsibility to participate in monthly systems checks by pressing my transmitter.  This will ensure that the equipment is in proper working condition.  Please test your system between the 1st and 15th of every month.  If I do not test, Lighthouse Systems, LLC will call a minimum of (3) times each month to prompt me to test.</p>
<p><b>SUBSCRIBER'S DUTIES: I understand that it is my responsibility to keep curent the responder information and client information provided to Ligthouse Systems, LLC. </b>I must also be willing to allow the responder to make forces entry into my home if he/she is asked to respond to an alarm call and has no other means of entering the home.  I am aware that I am responsible for any damage caused to my home due to forced entry. </p>
<p><b>COMPLAINT PROCEDURES: </b> I am aware that if I have any complaints, I should contact Lighthouse Systems, LLC at 956-631-7016 or 1-866-232-0415.  </p>

<pre><div id = "pre" style="font-size:small;">

_______________________________________  _______________________________________
Client Signature 						   Lighthouse Systems Rep

_______________________________________
Date</div></pre>
</div>

<pre style="page-break-after:always; font-size:smaller;"><center>Lighthouse Systems
3820 S Jackson Rd Unit A
Pharr, TX 78577
956-631-7016
</center>
</pre>

<!-- pagebreak Privacy practices -->
<h2><center>Notice of Privacy Practices</center></h2>
<div style="font-size:small;">
<p>This notice describes how medical information about you may be used and disclosed and how you can get access to this information. Please review it carefully.</p>

<div id= "title"><center>How Lighthouse Systems	May Use or Disclose Your Health Information</center></div>

<p><u>For Services:</u> LIGHTHOUSE SYSTEMS may use or obtain your health information to provide you with Emergency Response Services, For example, information obtained by an agency, such as Emergency Response Provider, Central Station or other agencies providing health care services to you, will record information in your file related to you. LIGHTHOUSE SYSTEMS may use your information when referring you to emergency personnel (EMS, Police, and Fire Department) or other home health agencies or facilities.</p>

<p><u>For Payment:</u> LIGHTHOUSE SYSTEMS may use or obtain your health information for purposes of receiving payment for services that you receive. For example, a bill may be sent to you, your representative, or third party pay or, such as an insurance company or agency. The information on the bill may contain information that identifies you and services you are receiving or have received, LIGHTHOUSE SYSTEMS may use your information to contact you about account balances.</p>

<p><u>Required by Law,</u> LIGHTHOUSE SYSTEMS may use and disclose information about you as required by law. For example,
<li>For judicial and administrative proceeding pursuant to legal authority;</li>
<li>To report information related to victims of abuse, neglect or domestic violence,</li>
<li>To assist law enforcement officials in their law enforcement duties.</li></p>

<p><u>Initial and service calls: </u>LIGHTHOUSE SYSTEMS may contact you to schedule home visits to provide services or for monthly systems test. When contacts are made via telephone, messages will be left on your answering machine with limited information.</p>

<p><u>Notification: </u>LIGHTHOUSE SYSTEMS and business associates (Central Station) may use or disclose information to notify a family member,  representative, or another person responsible for your care, your location, and general condition.</p>

<p><u>Communication with Family:</u> LIGHTHOUSE SYSTEMS and staff exercise their best judgment and may disclose to a family member, other relative, close friend or any other person you identify, your health information relevant to that person’s involvement in your care or payment related to services you received. </p></div>

<pre style="page-break-after:always;" id="pre">


_____________________________________           _________________
Signature                                                      Date
</pre>

<!-- pagebreak Privacy policies customer copy -->

<h2><center>Notice of Privacy Practices</center></h2>
<div style="font-size:small;">
<p>This notice describes how medical information about you may be used and disclosed and how you can get access to this information. Please review it carefully.</p>

<div id= "title"><center>How Lighthouse Systems	May Use or Disclose Your Health Information</center></div>

<p><u>For Services:</u> LIGHTHOUSE SYSTEMS may use or obtain your health information to provide you with Emergency Response Services, For example, information obtained by an agency, such as Emergency Response Provider, Central Station or other agencies providing health care services to you, will record information in your file related to you. LIGHTHOUSE SYSTEMS may use your information when referring you to emergency personnel (EMS, Police, and Fire Department) or other home health agencies or facilities.</p>

<p><u>For Payment:</u> LIGHTHOUSE SYSTEMS may use or obtain your health information for purposes of receiving payment for services that you receive. For example, a bill may be sent to you, your representative, or third party pay or, such as an insurance company or agency. The information on the bill may contain information that identifies you and services you are receiving or have received, LIGHTHOUSE SYSTEMS may use your information to contact you about account balances.</p>

<p><u>Required by Law,</u> LIGHTHOUSE SYSTEMS may use and disclose information about you as required by law. For example,
<li>For judicial and administrative proceeding pursuant to legal authority;</li>
<li>To report information related to victims of abuse, neglect or domestic violence,</li>
<li>To assist law enforcement officials in their law enforcement duties.</li></p>

<p><u>Initial and service calls: </u>LIGHTHOUSE SYSTEMS may contact you to schedule home visits to provide services or for monthly systems test. When contacts are made via telephone, messages will be left on your answering machine with limited information.</p>

<p><u>Notification: </u>LIGHTHOUSE SYSTEMS and business associates (Central Station) may use or disclose information to notify a family member,  representative, or another person responsible for your care, your location, and general condition.</p>

<p><u>Communication with Family:</u> LIGHTHOUSE SYSTEMS and staff exercise their best judgment and may disclose to a family member, other relative, close friend or any other person you identify, your health information relevant to that person’s involvement in your care or payment related to services you received. </p></div>

<pre style="page-break-after:always;" id="pre">


_____________________________________           _________________
Signature                                                      Date
</pre>

<!-- pagebreak Subscriber Fact Sheet -->

<pre id="pre" style "page-break-after:always"><div style="font-size:small"><b>Lighthouse Systems, LLC		SUBSCRIBER FACT SHEET
1-866-232-0415				</b>Dealer Name: <b><u>Lighthouse Systems</u></b>
	
	CS Acct # ___<%= @customer.client_central_station_account_number %>_____________ Type: <b><u>PERS</u></b>__ Format: <b><u>Contact ID</u></b>
	
	Submitted by: ___Pat Smith___________ Date: ____________________

Subscriber Name:  <%= customer_name %>						Sex: <%= @customer.sex %>

Address 1:   <%= @customer.addresses.first.address_1 %>

Address 2:   <%= @customer.addresses.first.address_2 %>

City:  <%= @customer.addresses.first.city %>	ST: <%= @customer.addresses.first.state %>			ZIP:  <%= @customer.addresses.first.zip %>

Location Phone: <%= @customer.addresses.first.phone %>		Language:  <%= @customer.language %>

Add'l Directions: _________________________________________

Gate/Lockbox/Key info: _____________________________________

If contact is made with customer, follow customer’s verbal request. If no response or customer cannot be 
understood, do not dispatch EMS yet, however do call the responder list and follow their instructions. If unable to 
contact the responders or unable to get clear instructions from them, then dispatch EMS.

  <u>Responder</u>			<u>Primary Phone # [type]</u>	<u>Alternate Phone # [type]</u>
1. ________________________  ___________________[  ]  ___________________[  ]
2. ________________________  ___________________[  ]  ___________________[  ]
3. ________________________  ___________________[  ]  ___________________[  ]
4. ________________________  ___________________[  ]  ___________________[  ]
<b>IF MEDICAL EMERGENCY PERSONNEL ARE DISPATCHED, THE FOLLOWING
 INFORMATION MUST BE GIVEN TO THEM.</b>
Medical Conditions: ________________________________________________________________

__________________________________________________________________________________

Doctor Name & Phone:  ______________________________________________________________

Hospital Preference: _________________________________________________________________

Add’l Comments or Instructions: 

Test call:  ___________________ Panel:______________________Transmitter________________ 

PD __________________________________          FD  _____________________________________
				</div></pre>
<!-- pagebreak ERS responder acknowledgement 1 -->
<h3><center>ERS RESPONDER ACKNOWLEDGMENT</center></h3>

<pre id="pre" style="page-break-after:always">
<div style = "font-size:small">CLIENT NAME: <%= customer_name %>

CLIENT #: 					ACCT #:  <%= @customer.client_central_station_account_number %>


I acknowledge that I am a responder for the above referenced client.  When called by the 
Emergency Response Systems service provider, I am responsible for checking on the 
client and taking any necessary action to insure the well- being of the client.

__________________________________________________________
Responder Name

___________________________________________________________
Phone # 1   (Home  Cell   Work) circle one


___________________________________________________________
Phone #2   (Home  Cell   Work) circle one




______________________________________ 	_____________
Signature							 	Date

</div>
<div style = "font-size:smaller">
THE EQUIPMENT IS THE PROPERTY OF LIGHTHOUSE SYSTEMS, LLC


Lighthouse Systems
3820 S Jackson Rd Unit A  
Pharr TX  78577
956-631-7016

Fax: 956-682-4355
Email:  Lighthousesystems1234@live.com
</div>
*Please fax, email or mail back within 1 week.</pre>

<!-- pagebreak ERS responder acknowledgement 2 -->
<h3><center>ERS RESPONDER ACKNOWLEDGMENT</center></h3>

<pre id="pre" style="page-break-after:always">
<div style = "font-size:small">CLIENT NAME: <%= customer_name %>

CLIENT #: 					ACCT #:  <%= @customer.client_central_station_account_number %>


I acknowledge that I am a responder for the above referenced client.  When called by the 
Emergency Response Systems service provider, I am responsible for checking on the 
client and taking any necessary action to insure the well- being of the client.

__________________________________________________________
Responder Name

___________________________________________________________
Phone # 1   (Home  Cell   Work) circle one


___________________________________________________________
Phone #2   (Home  Cell   Work) circle one




______________________________________ 	_____________
Signature							 	Date

</div>
<div style = "font-size:smaller">
THE EQUIPMENT IS THE PROPERTY OF LIGHTHOUSE SYSTEMS, LLC


Lighthouse Systems
3820 S Jackson Rd Unit A  
Pharr TX  78577
956-631-7016

Fax: 956-682-4355
Email:  Lighthousesystems1234@live.com
</div>
*Please fax, email or mail back within 1 week.</pre>