
	<div id = "title"><p><center>SERVICE CHECK LIST #</center></p>

		<p><center>Date of Call: <%= Date.today %></center></p>
	</div>


		
<pre><div id = "pre">
Customer Name: <%= @customer.first_name << " " << @customer.last_name %>			Language: <%= @customer.language %>

Address: <% @customer.addresses.each do |address| %><% unless address.is_billing_address %><%= [address.address_1,address.address_2].join(' ') %>, <%= [address.city,address.state,address.zip].join(', ') %>

Phone #:<%= address.phone %>; <%= address.phone_2%><% end %><% end %>				Central Station #: <%= @customer.client_central_station_account_number %>

System: <%= @customer.system.system_type.system_type  if @customer.system %>			Batt: <%= @customer.system.battery_date if @customer.system%>			Inst Date: <%= @customer.install_date %>

<div id = "title"><center>REPAIRS</center></div>

Nature of Problem:

Comments: <%= @customer.memo %>

Responders:

Tested to Central Station:______

<div id = "title"><center>REMOVAL</center></div>
Recovered console  ______ 				Recovered transmitter ______ 

Outlet cover screwed in ______ 				Phone plugged in/working ______

Misc Parts recovered __________________________ 	New console acct # _____________

		

		PAYMENT CALC:   	Service Call   		___________________________
					
					Mileage   _____ x.30   	___________________________
					
					Parts   		___________________________
					
					Postage    		___________________________
					
					TOTAL     		___________________________



 Tech Signature ______________________________  Date ______________
</div>
</pre>


