<h1>Billing Intervals</h1>
<table>
	<tr>
		<td>Billing Interval</td>
		<td># of customers </td>
	</tr>
<% @billings.each do |b| %>
<tr>
	<td> <%= link_to [b.billing_interval_name, b.interval_month].join(' '), b %> </td>
	<td> <%= b.customers.count %></td>
</tr>



<% end %>
</table>

<%= form_tag("billing_intervals/select_billings") do %>
	<%= label_tag(:target, "Generate bills for this month" )%>
	<%= number_field(:target, :target, in: 1..12) %>
	<%= submit_tag("Generate") %>
	<% end %> 