
<% for attribute in @caseworker.attributes.keys %>
<li><%= attribute.humanize %>: <%= @caseworker.attributes[attribute].to_s %></li>
<% end %>
<% @caseworker.customers.each do |c| %>
Customer: 
<%= c.attributes %> <br>
<% end %>
<%= link_to "Edit this caseworker", edit_caseworker_path %>
<%= link_to "Delete this caseworker", @caseworker, method: :delete, data: {confirm: "Are you sure?"} %>