<!-- transponder type show page -->
<!-- Consider changing hard coded types to attributes calls -->
<h1><%= @trans_t.transponder_type %></h1>
<%= link_to "Edit transponder name", edit_transponder_type_path(@trans_t) %>
<%= link_to "Destroy this transponder type", transponder_type_path(@trans_t), method: :delete, data: {confirm: "Are you sure?"} %>

<!-- Consider making partial for system table -->
<table>
<tr>
	<td>Customer </td>
	<td>Account Number </td>
	<td>System type</td>
	<td>Transponder type</td>
	<td>Lock Number</td>
	<td>Test Call Number</td>
	<td>Battery Date</td>
	<td>Transponder Date</td>
</tr>
<% @trans_t.systems.each do |t| %>
<tr>
	<td> <%= link_to [t.customer.first_name, t.customer.last_name].join(' '), customer_path(t.customer) %></td>
	<td> <%= t.customer.client_central_station_account_number %></td>
	<td> <%= t.system_type.system_type %></td>
	<td> <%= t.transponder_type.transponder_type %></td>

	<td> <%= t.lock_number || "empty" %> </td>
    <td> <%= t.test_call_number || "empty" %> </td>
    <td> <%= t.battery_date || "empty" %> </td>
    <td> <%= t.transponder_date || "empty" %> </td>
</tr>
<% end %>

</table>