<!DOCTYPE html>
<html>
<head>
  <title>Lighthouse Systems</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

<%= link_to "Customers", customers_path %>
<%= link_to "Caseworkers", caseworkers_path %>
<%= link_to "System types", system_types_path %>
<%= link_to "Transmitter types", transmitter_types_path %>
<%= link_to "Regions", regions_path %>
<%= link_to "Billing Intervals", billing_intervals_path %>


</header>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
